<%= link_to 'Agregar cliente', formulario_path, {:remote => true, 'data-toggle' => 'modal', 'data-target' => '#modal-window'} %>

<div id= "modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div> 
