<% provide(:title, "Edit client")%>
<% provide(:path, edit_client_path)%>
<h1>Actualizar cliente</h1>
<p>Ingrese datos</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'formulario' %>
  </div>
</div>
