  <div class="search-container">
    <form action="/action_page.php"> 
      <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por patente..." name="search">
    </form>
  </div>
